.personajes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #31383f;
}

.personajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    text-align: center;
    /* background-image: url('/static/media/bg-personajes.74e341a9.jpg'); */
    background-image: url('https://fondosmil.com/fondo/27347.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #272626;
    background-blend-mode: soft-light;
}


.episodios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    text-align: center;
    /* background-image: url('/static/media/bg-personajes.74e341a9.jpg'); */
    background-image: url('https://d32qys9a6wm9no.cloudfront.net/images/tvs/backdrop/33/ebd8d86e963e00e09b2b832666d4eba5_706x397.jpg?t=1582864962');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #272626;
    background-blend-mode: soft-light;
}