.card-character{
    width: 18rem;
    margin: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    
}

.card-character img{
    width: 100%;
}
 
.card-character-footer{
    background-color: #426947;
    padding: 30px;
}

.card-character-footer h1{
    color: #ffffff;
    font-size: 20px;
}

.card-character-footer h2{
    color: #ffffff;
}

.card-character-footer h3{
    color: #ffffff;
}
.card-texts{
    color: #fff;
    font-size: 20px;
}