.card-character{
    width: 18rem;
    /* max-height: 590px; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
    
}

.card-character img{
    width: 100%;
}
 
.card-character-footer{
    background-color: #426947;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.card-texts{
    color: #fff;
    /* font-size: 18px; */
}
